In [ ]:
#q1)Write a program entered by the user is odd or even
num=int(input("Enter the number:"))
if(num%2==0):
  print("Number is even")
else:
  print("Number is odd")

Enter the number:10
Number is even

In [ ]:
#q2) How to convert student marks into grades in Python?
marks=int(input("Enter the marks of the student:"))
if(marks>=90):
  print("Grade=A")
elif(marks>=80 and marks<90):
  print("Grade=B")
elif(marks>=70 and marks<80):
  print("Grade=C")
else:
  print("grade=D")

Enter the marks of the student:95
Grade=A

In [ ]:
#q3)WAP to find the greatest of 3 numbers entered by the user
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
num3=int(input("Enter the third number:"))
if (num1>num2 and num>num3):
  print("num1 is greater")
elif(num2>num1 and num2>num3):
  print("num2 is greater")
else:
  print("num3 is greater")

Enter the first number:3
Enter the second number:4
Enter the third number:6
num3 is greater

In [ ]:
#q4)WAP to check if a number is a multiple of 7 or not
num=int(input("Enter the number:"))
if (num%7==0):
  print("number is multiple of 7")
else:
  print("number is not multiple of 7")

Enter the number:14
number is multiple of 7

In [ ]:
#q5)WAP to display "Hello" if number multiple by 5 otherwise display"bye"
num=int(input("Enter the number:"))
if (num%5==0):
  print("Hello")
else:
  print("bye")

In [ ]:
#q6) WAP to display the last digit of a number
num=int(input("Enter the number."))
print("Last digit of a number is",num%10)

Enter the number.78
Last digit of a number is 8

In [ ]:
#q7) WAP to check whether the last digit of a number(entered by user) is divisible by 3 or not
num=int(input("Enter the number:"))
if (num%10%3==0):
  print("last digit is divisible by 3")
else:
  print("Last digit is not divisible by 3")

Enter the number:23
last digit is divisible by 3

In [ ]:
#q8)WAP to check whether an years is leap year or not
year=int(input("Enter the year:"))
if year%100==0:
  if year%400==0:
    print("year is a leap year")
  else:
    print("year is not a leap year")
else:
  if year%4==0:
    print("year is a leap year")
  else:
    print("year is not a leap year")

Enter the year:2028
year is a leap year

In [ ]:
#q9)WAP to accept a number from 1 to 7 and display the name of the day like 1 for sunday, 2 for monday and so on
num=int(input("Enter any number between 1 to 7:"))
if num==1:
  print("sunday")
elif num==2:
  print("monday")
elif num==3:
  print("Tuesday")
elif num==4:
  print("wednesday")
elif num==5:
  print("Thursday")
elif num==6:
  print("friday")
elif num==7:
  print("saturday")

Enter any number between 1 to 7:3
Tuesday

In [ ]:
'''q10)Accept any city from the user and display monument of that city
    city              Monument
    Delhi             Red fort
    Agra              Taj mahal
    Jaipur            Jal mahal'''
""
city=input("Enter the name of the city:")
if city.lower()=="delhi":
  print("monument name is: Red Fort")
elif city.lower()=="agra":
  print("monument name is: Taj Mahal")
elif city.lower()=="jaipur":
  print("monument name is: Jal Mahal")
else:
  print("Enter correct name of the city")

Enter the name of the city:Delhi
monument name is: Red Fort

##LOOPS

In [ ]:
#11)print numbers from 1 to 100
i=1
while i<=100:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#12) print numbers from 100 to 1
i=100
while i>=1:
  print(i)
  i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
#13) print multiplication table of a number n
num=int(input("Enter the number:"))
i=1
while i<=10:
  print(num,"*",i,"=",num*i)
  i+=1

Enter the number:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [ ]:
'''14)print the elements of the following list using a loop
[1,4,9,16,25,36,49,64,81,100]'''
list=[1,4,9,16,25,36,49,64,81,100]
idx=0
while idx<len(list):
  print(list[idx])
  idx+=1

1
4
9
16
25
36
49
64
81
100

In [ ]:
'''15)search for number x in this tuple using loop:'''
nums=(1,4,9,16,25,36,49,64,81,100)
x=25
i=0
while i <  len(nums):
  if(nums[i]==x):
    print("found at idx",i)
  i+=1

found at idx 4

In [ ]:
''' 16)print the elements of the following list using a loop
list=[1,4,9,16,25,36,49,64,81,100]'''
list=[1,4,9,16,25,36,49,64,81,100]
for i in list:
  print(i)

1
4
9
16
25
36
49
64
81
100

In [ ]:
'''17)search for number x in this tuple using loop:'''
nums=(1,4,9,16,25,36,49,64,81,100,36)
x=36
idx=0
for el in nums:
  if(el==x):
    print("number found at idx",idx)
    break
  idx+=1

number found at idx 5

In [ ]:
#18)Print the elements of a list using a for loop:
MY_LIST=[1,2,3,4,5]
for element in MY_LIST:
  print(element)

1
2
3
4
5

In [ ]:
#19)calculate the product of element in a list using a for loop:
my_list=[1,3,6,8,9]
product=1
for num in my_list:
  product*=num
print("product of all elements in the list is:",product)

product of all elements in the list is: 1296

In [ ]:
#20)Print even numbers from 1 to 10 using a for loop:
for num in range(2,11,2):
  print(num)

2
4
6
8
10

In [ ]:
#21)Print numbers in reverse from 10 to 1 using a for loop:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#22)Print characters of a string using a for loop:
str="Hello"
for char in str:
  print(char)

H
e
l
l
o

In [ ]:
#23)Find the largest number in a list using a for loop:
list=[2,5,8,9,10,9]
largest=list[0]
for num in list:
  if num>largest:
    largest=num
print("largest number in the list is:",largest)

largest number in the list is: 10

In [ ]:
#24)Find the average of numbers in a list using a for loop:
list=[2,5,8,9,10,9]
sum=0
for num in list:
  sum+=num
average=sum/len(list)
print("average of numbers in the list is:",average)

In [ ]:
#25)Print all uppercase letters in a string using a for loop:
l="Gayatri"
for char in l:
  if char.isupper():
    print(char)

G

In [ ]:
#26)Count the number of vowels in a string using a for loop:
str="jaishri"
vowels="AEIOUaeiou"
count=0
for char in str:
  if char in vowels:
    count+=1
print(count)

3

In [ ]:
#27)Print a pattern of stars using nested for loops:
for i in range(5):
  for j in range(i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
#28)Calculate factorial of a number using a while loop:
num=5
factorial=1
while num>0:
  factorial*=num
  num-=1
print(factorial)

120

In [ ]:
#29)Find the first occurrence of a number in a list using a while loop:
list=[3,8,2,7,4]
target=7
index=0
while index<len(list):
  if list[index]==target:
    break
  index+=1
else:
  index=-1
print(index)

3

In [ ]:
#30)Calculate the sum of numbers from 1 to 100 using a while loop:
num = 1
sum_numbers = 0
while num <= 100:
    sum_numbers += num
    num += 1
print(sum_numbers)

5050

In [ ]:
#31)Find all prime numbers between 1 and 50 using nested for and if:

for num in range(2, 51):
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#32)Print numbers divisible by 3 or 5 from 1 to 20 using a for loop:
for num in range(1,21):
  if num%3==0 or num%5==0:
    print(num)

3
5
6
9
10
12
15
18
20

In [ ]:
#33)Print a list of squares of numbers from 1 to 5 using a list comprehension:
squares=[num**2 for num in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#34)Print the Fibonacci sequence up to the 10th term using a while loop:
a,b=0,1
count=0
while count<10:
  print(a,end=" ")
  a,b=b, a+b
  count+=1

0 1 1 2 3 5 8 13 21 34

In [ ]:
#35)Find the common elements in two lists using a for loop:
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
common_elements=[]
for element in list1:
  if element in list2:
    common_elements.append(element)
print(common_elements)

[3, 4, 5]

In [ ]:
#36)Print numbers in a list until a negative number is encountered using a while loop
my_list=[1,4,6,8,10,-3,5,7]
index=0
while my_list[index]>=0:
  print(my_list[index])
  index+=1

1
4
6
8
10

In [ ]:
#37)Print numbers from 1 to 5, except 3 using a for loop and continue statement:
for num in range(1,6):
  if num==3:
    continue
  print(num)

1
2
4
5

In [ ]:
'''38)Print numbers from 1 to 10. If a number is divisible by 4, stop the loop using a for loop and break statement:

for num in range(1, 11)'''
for num in range(1,11):
  print(num)
  if num%4==0:
    break

1
2
3
4

In [ ]:
'''39)Print numbers from 1 to 10. If a number is even, skip it using a for loop and else clause:'''
for num in range(1,11):
  if num%2==0:
    continue
  print(num)
else:
  print("loop completed")

1
3
5
7
9
loop completed

In [ ]:
'''40)Print numbers from 1 to 10. If a number is even, break the loop using a for loop and else clause:'''
for num in range(1,11):
  if num%2==0:
    break
  print(num)
else:
  print("loop completed")

1

In [ ]:
#41)Check if a string is a palindrome
str="madam"
if str==str[::-1]:
  print("string is palindrome")
else:
  print("string is not palindrome")

string is palindrome

In [ ]:
#42)Check if a string is a palindrome using function
def is_palindrome(s):
  return s==s[::-1]
print(is_palindrome("madam"))
print(is_palindrome("hello"))

True
False

In [ ]:
#43)Reverse a string
def reverse_string(s):
  return s[::-1]
print(reverse_string("hello"))

olleh

In [ ]:
#44)Find the greatest of three numbers
def max_of_three(a,b,c):
  return max(a,b,c)
print(max_of_three(5,10,15))

15

In [ ]:
#45)Generate Fibonacci series up to n terms
def Fibonacci(n):
  a,b=0,1
  for _ in range(n):
    print(a,end=" ")
    a,b=b, a+b
Fibonacci(5)

0 1 1 2 3

In [ ]:
#46)Find the missing number in an array
def find_missing_number(arr, n):
  return n*(n+1)//2-sum(arr)
print(find_missing_number([1,2,4,5,6],6))

3

In [ ]:
#47)Find intersection of two lists
def list_intersection(a,b):
  return list(set(a) and set(b))
print(list_intersection([1,2,3,4,5],[3,4,5,6,7]))

[3, 4, 5, 6, 7]

In [ ]:
#48)Write a code to reverse a number
num=int(input("Enter the number:"))
temp=num
reverse=0
while num>0:
  remainder=num%10
  reverse=reverse*10+remainder
  num//=10
print("reverse of",temp,"is",reverse)

Enter the number:4354
reverse of 4354 is 4534

In [ ]:
#49)Write code of Greatest Common Divisor
num1 = int(input("Enter First Number:"))
num2 = int(input("Enter Second Number:"))


def gcdFunction(num1, num2):
    if num1 > num2:
        small = num2
    else:
        small = num1
    for i in range(1, small+1):
        if (num1 % i == 0) and (num2 % i == 0):
            gcd = i
    print("GCD of two Number: {}".format(gcd))

gcdFunction(num1, num2)

Enter First Number:76
Enter Second Number:85
GCD of two Number: 1

In [ ]:
#50)Write code of  Perfect number
n=int(input("Enter any number:"))
sump=0
for i in range(1,n):
  if(n%i==0):
    sump=sump+i
if (sump==n):
  print("the number is a perfect number")
else:
  print("the number is not a perfect number")

Enter any number:23
the number is not a perfect number

In [ ]:
# 51)Write code to Check if two strings are Anagram or not
string1=input("enter the 1st string:")
string2=input("enter the 2nd string:")
if len(string1)!=len(string2):
  print("string are not anagram")
else:
  string =sorted(string1)
  string2=sorted(string2)
  if string==string2:
    print("string are anagram")
  else:
    print("string are not anagram")

enter the 1st string:ram
enter the 2nd string:sham
string are not anagram

In [ ]:
#52)Write code Check if the given string is Palindrome or not
string1=input("enter the string:")
string2=string1[::-1]
if string1== string2:
  print("string is palindromic")
else:
  print("string is not palindromic")

enter the string:nack
string is not palindromic

In [ ]:
#53)Write a program to check if the given number is Armstrong or not
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 876
876 is not an Armstrong number

In [ ]:
#54)Find non-repeating characters in a string
String = "prepinsta"
for i in String:
    #initialize a count variable
    count = 0
    for j in String:
        #check for repeated characters
        if i == j:
            count+=1
        #if character is found more than 1 time
        #brerak the loop
        if count > 1:
            break
    #print for nonrepeating characters
    if count == 1:
        print(i,end = " ")

r e i n s t a

In [ ]:
#55) Write a code to replace a substring in a string.
string=input("Enter String :\n")
str1=input("Enter substring which has to be replaced :\n")
str2=input("Enter substring with which str1 has to be replaced :\n")
string=string.replace(str1,str2)
print("String after replacement")
print(string)

Enter String :
GAYATRI
Enter substring which has to be replaced :
GAYU
Enter substring with which str1 has to be replaced :
GA
String after replacement
GAYATRI

In [ ]:
#56)Write a program to find the greatest of four numbers entered by the user.
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))
num4 = float(input("Enter fourth number: "))

greatest = num1
if num2 > greatest:
    greatest = num2
if num3 > greatest:
    greatest = num3
if num4 > greatest:
    greatest = num4
print("The greatest number is:", greatest)

Enter first number: 45
Enter second number: 76
Enter third number: 98
Enter fourth number: 98
The greatest number is: 98.0

In [ ]:
'''57)Write a program to find out whether a student has passed or failed if it requires a
total of 40% and at least 33% in each subject to pass. Assume 3 subjects and
take marks as an input from the user. '''
marks1 = int(input("Enter Marks 1: "))
marks2 = int(input("Enter Marks 2: "))
marks3 = int(input("Enter Marks 3: "))

# Check for total percentage
total_percentage = (100*(marks1 + marks2 + marks3))/300

if(total_percentage>=40 and marks1>=33 and marks2>=33 and marks3>=33):
    print("You are passed:", total_percentage)

else:
    print("You failed, try again next year:", total_percentage)

Enter Marks 1: 65
Enter Marks 2: 76
Enter Marks 3: 98
You are passed: 79.66666666666667

In [ ]:
'''58)A spam comment is defined as a text containing following keywords:
Make a lot of money, buy now, subscribe this, click this. Write a program
to detect these spams. '''
p1 = "Make a lot of money"
p2 = "buy now"
p3 = "subscribe this"
p4 = "click this"

message = input("Enter your comment: ")

if((p1 in message) or (p2 in message )or (p3 in message) or (p4 in message)):
    print("This comment is a spam")

else:
    print("This comment is not a spam")

Enter your comment: my name is gayatri
This comment is not a spam

In [ ]:
'''59) Write a program to find whether a given username contains less than 10
characters or not. '''
username = input("Enter username: ")

if(len(username)<10):
    print("Your username contains less than 10 characters")
else:
    print("Your username contains more than or equal to 10 characters")

Enter username: gayatri
Your username contains less than 10 characters

In [ ]:
'''60)Write a program which finds out whether a given name is present in a list or not.'''
l = ["Hany", "Rohan", "Shubham", "Divya"]

name = input("Enter your name: ")

if(name in l):
    print("Your name is in the list")
else:
    print("Your name is not in the list")

Enter your name: Shubham
Your name is in the list

In [ ]:
'''61)Write a program to calculate the grade of a student from his marks from the
following scheme:
90  100 => Ex
80  90 => A
70  80 => B
60  70  =>C
50  60 => D
<50
=> F'''
marks = int(input("Enter your marks: "))

if(marks<=100 and marks>=90):
    grade = "Ex"
elif(marks<90 and marks>=80):
    grade = "A"
elif(marks<80 and marks>=70):
    grade = "B"
elif(marks<70 and marks>=60):
    grade = "C"
elif(marks<60 and marks>=50):
    grade = "D"
elif(marks<50):
    grade = "F"

print("Your grade is:", grade)

Enter your marks: 93
Your grade is: Ex

In [ ]:
#62)Write a program to find out whether a given post is talking about gayatri or not.
post = input("Enter the post: ")



if("gayatri" in post.lower()):
    print("This post is talking about gayatri")

else:
    print("This post is not talking about gayatri")

Enter the post: hi i am gayatri
This post is talking about gayatri

In [ ]:
#63)Write a program to print multiplication table of a given number using for loop.
n = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{n} X {i} = {n * i}")

Enter a number: 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [ ]:
'''64)Write a program to greet all the person names stored in a list l and which starts
with S.'''
l = ["Harry", "Soham", "Sachin", "Rahul"]
l = ["Harry", "Soham", "Sachin", "Rahul"]

for name in l:
    if(name.startswith("S")):
        print(f"Hello {name}")

Hello Soham
Hello Sachin

In [ ]:
'''65)Write a program to find the sum of first n natural numbers using while loop.'''
n = int(input("Enter the number: "))
i = 1
sum = 0
while(i<=n):
    sum += i
    i+=1

print(sum)

Enter the number: 76
2926

In [ ]:
#66)Write a program to calculate the factorial of a given number using for loop.
# 5! = 1 X 2 X 3 X 4 X 5

n = int(input("Enter the number: "))
product = 1
for i in range(1, n+1):
    product = product * i

print(f"The factorial of {n} is {product}")

Enter the number: 7
The factorial of 7 is 5040

In [ ]:
'''67)Write a program to print the following star pattern.
*
***
***** for n = 3'''
'''
For n = 3
  *
 ***
*****

For n = 5
    *
   ***
  *****
 ********
**********

'''

n = int(input("Enter the number: "))
for i in range(1, n+1):
    print(" "* (n-i), end="")
    print("*"* (2*i-1), end="")
    print("")

Enter the number: 6
     *
    ***
   *****
  *******
 *********
***********

In [ ]:
'''68)Write a program to print the following star pattern:
*
**
***      for n = 3'''
n = int(input("Enter the number: "))
for i in range(1, n+1):
    print("*"* i, end="")
    print("")

Enter the number: 5
*
**
***
****
*****

In [ ]:
'''69) Write a program to print the following star pattern.
* * *
*   *   for n = 3
* * *  '''
'''

***
* *       for n = 3
***


'''
n = int(input("Enter the number: "))
for i in range(1, n+1):
    if(i==1 or i==n):
        print("*"* n, end="")
    else:
        print("*", end="")
        print(" "* (n-2), end="")
        print("*", end="")
    print("")

Enter the number: 8
********
*      *
*      *
*      *
*      *
*      *
*      *
********

In [ ]:
'''70). Write a program to print multiplication table of n using for loops in reversed
order.'''
n = int(input("Enter the number: "))

for i in range(1, 11):
    print(f"{n} X {11 -i} = {n*(11-i)}")

Enter the number: 5
5 X 10 = 50
5 X 9 = 45
5 X 8 = 40
5 X 7 = 35
5 X 6 = 30
5 X 5 = 25
5 X 4 = 20
5 X 3 = 15
5 X 2 = 10
5 X 1 = 5

In [ ]:
#71)Write a program using functions to find greatest of three numbers.
def greatest(a, b, c):
    if(a>b and a>c):
        return a
    elif(b>a and b>c):
        return b
    elif(c>b and c>a):
        return c

a = 1
b = 23
c = 3

print(greatest(a, b, c))

23

In [ ]:
#72) Write a python program using function to convert Celsius to Fahrenheit.
def f_to_c(f):
    return 5*(f-32)/9

f = int(input("Enter temperature in F: "))
c = f_to_c(f)
print(f"{round(c, 2)}C")

Enter temperature in F: 54
12.22C

In [ ]:
 #73)How do you prevent a python print() function to print a new line at the end.
print("a")
print("b")
print("c", end="")
print("d", end=""),

a
b
cd

(None,)

In [ ]:
#74) Write a recursive function to calculate the sum of first n natural numbers.
'''
sum(1) = 1
sum(2) = 1 + 2
sum(3) = 1 + 2 + 3
sum(4) = 1 + 2 + 3 + 4
sum(5) = 1 + 2 + 3 + 4 + 5

sum(n) = 1 + 2 + 3 + 4.... n -1 + n
sum(n) = sum(n-1) + n
'''

def sum(n):
    if(n==1):
        return 1
    return sum(n-1) + n

print(sum(4))

10

In [ ]:
'''75)Write a python function to print first n lines of the following pattern:
***
**
* - for n = 3'''
def pattern(n):
    if(n==0):
        return
    print("*" * n)
    pattern(n-1)


pattern(3)

***
**
*

In [ ]:
'''76)Write a python function which converts inches to cms.'''
def inch_to_cms(inch):
    return inch * 2.54

n = int(input("Enter value in inches: "))

print(f"The corresponding value in cms is {inch_to_cms(n)}")

Enter value in inches: 65
The corresponding value in cms is 165.1

In [ ]:
'''q77)Write a python function to remove a given word from a list ad strip it at the same
time. '''
def rem(l, word):
    n = []
    for item in l:
        if not(item == word):
            n.append(item.strip(word))
    return n


l = ["Harry", "Rohan", "Shubham", "an"]

print(rem(l, "an"))

['Harry', 'Roh', 'Shubham']

In [ ]:
#78) Write a python function to print multiplication table of a given number.
def multiply(n):
    for i in range(1, 11):
        print(f"{n} X {i} = {n*i}")

multiply(5)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
'''79)Write a python program to display a user entered name followed by Good
Afternoon using input () function.'''
name = input("Enter your name: ")

print(f"Good Afternoon, {name} ")

Enter your name: gayatri
Good Afternoon, gayatri

In [ ]:
'''80) Write a program to detect double space in a string.'''
name = "Ram is a good  boy and  "

print(name.find("  "))

13

In [ ]:
'''81)Replace the double space from problem 3 with single spaces. '''
name = "sham is a good  boy and  "

print(name.replace("  ", " "))
print(name)

sham is a good boy and
sham is a good  boy and

In [ ]:
#82)Circle Area Calculator
from math import pi
r = float(input("Input the radius of the circle : "))
area = pi * r ** 2
print("The area of the circle with radius " + str(r) + " is: " + str(area))

Input the radius of the circle : 7
The area of the circle with radius 7.0 is: 153.93804002589985

In [ ]:
#83)Print first and last name in reverse order with a space between them
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print("Hello  " + lname + " " + fname)

Input your First Name : Gayatri
Input your Last Name : Jondhale
Hello  Jondhale Gayatri

In [ ]:
#84)Generate a list and tuple with comma-separated numbers
values = input("Input some comma-separated numbers: ")
list = values.split(",")
tuple = tuple(list)
print('List : ', list)
print('Tuple : ', tuple)

Input some comma-separated numbers: 6,5,6,7
List :  ['6', '5', '6', '7']
Tuple :  ('6', '5', '6', '7')

In [ ]:
#85)Concatenate all elements in a list into a string
def concatenate_list_data(lst):
    result = ''

    for element in lst:
        result += str(element)
    return result
print(concatenate_list_data([1, 5, 12, 2]))

15122

In [ ]:
#86) How to calculate area of a triangle in Python?
b = int(input("Input the base : "))
h = int(input("Input the height : "))
area = b * h / 2
print("area = ", area)

Input the base : 5
Input the height : 6
area =  15.0

In [ ]:
#87)Greatest common divisor (GCD) of two positive integers
def gcd(x, y):
    gcd = 1
    if x % y == 0:
        return y
    for k in range(int(y / 2), 0, -1):
        if x % k == 0 and y % k == 0:
            gcd = k
            break
    return gcd
print("GCD of 12 & 17 =", gcd(12, 17))
print("GCD of 4 & 6 =", gcd(4, 6))
print("GCD of 336 & 360 =", gcd(336, 360))

GCD of 12 & 17 = 1
GCD of 4 & 6 = 2
GCD of 336 & 360 = 24

In [ ]:
#87)Least common multiple (LCM) of two positive integers
def lcm(x, y):
    if x > y:
        z = x
    else:
        z = y
    while True:
        if (z % x == 0) and (z % y == 0):
            lcm = z
            break
        z += 1
    return lcm
print(lcm(4, 6))
print(lcm(15, 17))

12
255

In [ ]:
#88)How to find the distance between two points in Python?
import math
p1 = [4, 0]
p2 = [6, 6]
distance = math.sqrt(((p1[0] - p2[0]) ** 2) + ((p1[1] - p2[1]) ** 2))
print(distance)

6.324555320336759

In [ ]:
'''89) Write a program to read the text from a given file poems.txt and find out
whether it contains the word twinkle. '''
f = open("poem.txt")
content = f.read()
if("twinkle" in content):
    print("The word twinkle is present in the content")

else:
    print("The word twinkle is not present in the content")

f.close()

The word twinkle is present in the content

In [ ]:
'''90)Create a class Programmer for storing information of few programmers
working at Microsoft.'''
class Programmer:
    company = "Microsoft"
    def __init__(self, name, salary, pin):
        self.name = name
        self.salary = salary
        self.pin = pin


p = Programmer("Harry", 1200000, 245001)
print(p.name, p.salary, p.pin, p.company)
r = Programmer("Rohan", 1200000, 245001)
print(r.name, r.salary, r.pin, r.company)

Harry 1200000 245001 Microsoft
Rohan 1200000 245001 Microsoft

In [ ]:
'''91)Write a class Calculator capable of finding square, cube and square root of a
number. '''
class Calculator:
    def __init__(self, n):
        self.n = n

    def square(self):
        print(f"The square is {self.n*self.n}")

    def cube(self):
        print(f"The cube is {self.n*self.n*self.n}")

    def squareroot(self):
        print(f"The squareroot is {self.n**1/2}")

a = Calculator(4)
a.square()
a.cube()
a.squareroot()

The square is 16
The cube is 64
The squareroot is 2.0

In [ ]:
'''92)Create a class with a class attribute a; create an object from it and set a
directly using object.a = 0. Does this change the class attribute? '''
class Demo:
    a = 4

o = Demo()
print(o.a) # Prints the class attribute because instance attribute is not present
o.a = 0 # Instance attribute is set
print(o.a) # Prints the instance attribute because instance attribute is present
print(Demo.a) # Prints the class attribute

4
0
4

In [ ]:
#93)Add a static method in problem 2, to greet the user with hello.
class Calculator:
    def __init__(self, n):
        self.n = n

    def square(self):
        print(f"The square is {self.n*self.n}")

    def cube(self):
        print(f"The cube is {self.n*self.n*self.n}")

    def squareroot(self):
        print(f"The squareroot is {self.n**1/2}")

    @staticmethod
    def hello():
        print("Hello there!")

a = Calculator(4)
a.hello()
a.square()
a.cube()
a.squareroot()

Hello there!
The square is 16
The cube is 64
The squareroot is 2.0

In [ ]:
#94)Find numbers which are divisible by 7 and multiple of 5 between a range
nl = []
for x in range(1500, 2701):
    if (x % 7 == 0) and (x % 5 == 0):
        nl.append(str(x))
print(','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
#95)Reverse a word
word = input("Input a word to reverse: ")
for char in range(len(word) - 1, -1, -1):
    print(word[char], end="")
print("\n")

Input a word to reverse: gayatri
irtayag

In [ ]:
#96)Write a Python program to create the multiplication table (from 1 to 10) of a number.
n = int(input("Input a number: "))
for i in range(1, 11):
    print(n, 'x', i, '=', n * i)

Input a number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
#97)Write a Python program to construct the following pattern, using a nested loop number
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
#98)Prints all the numbers from 0 to 6 except 3 and 6
for x in range(6):
    if (x == 3 or x == 6):
        continue
    print(x, end=' ')
print("\n")

0 1 2 4 5

In [ ]:
#99)Write a program to find the given number is positive or negative.
num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 6.9
Positive number

In [ ]:
#100)Write a program to check if the given number is palindrome or not.
num = int(input("Enter a number: "))
temp = num
reverse = 0
while temp > 0:
    remainder = temp % 10
    reverse = (reverse * 10) + remainder
    temp = temp // 10
if num == reverse:
  print('Palindrome')
else:
  print("Not Palindrome")

Enter a number: 123321
Palindrome